<div class="zn-content">
  <div style="width:90%; max-width:466px; margin:auto;" align="center">
    <form action="/reset-password?access_token=<%= accessToken %>&user_id=<%= userId %>" method="post">
        <table class="zn-table zn-width-100">
          <tr>
            <th>NEW PASSWORD</th>
            <td><input type="text" name="password"></td>
          </tr>
          <tr>
            <th>CONFIRM NEW PASSWORD</th>
            <td><input type="password" name="confirmation"></td>
          </tr>
        </table>
      <div style="height:46px;"/>
      <input type="submit" class="zn-button-submit zn-width-100" value="RESET PASSWORD"/>

  </form>
  </div>
</div>
